<div class="row well">
    <div class="col-md-1" [ngSwitch]='status'>
        <span class="glyphicon glyphicon-time" *ngSwitchCase='0'></span>
        <span class="glyphicon glyphicon-flag" *ngSwitchCase='1'></span>
        <span class="glyphicon glyphicon-check" *ngSwitchCase='2'></span>
        <span class="glyphicon glyphicon-adjust" *ngSwitchCase='3'></span>
        <span class="glyphicon glyphicon-eye-close" *ngSwitchCase='4'></span>
    </div>
    <div class="col-md-4">
        <a href="#" class="btn btn-default btn-lg">
            {{title}}
            (
            <span *ngIf='status == 0'>Waiting for Start</span>
            <span *ngIf='status == 1'>Started</span>
            <span *ngIf='status == 2'>Finished</span>
            <span *ngIf='status == 3'>Canceled</span>
            <span *ngIf='status == 4'>Deleted</span>
            )
        </a>
    </div>
    <div class="col-md-2">
        <a href="">User Name</a>
    </div>
    <div class="col-md-1">
        <a (click)='deleteTask()' href="#" class='btn btn-danger btn-lg'><span class='glyphicon glyphicon-trash'></span> Delete task</a>
    </div>
</div>
